@*@model Lab_DZ_KvestRoom_8.Data.QuestRoom*@
@using Lab_DZ_KvestRoom_8.Models.ViewModels.QuestRoomsViewModelAdmin
@model CreateQuestRoomsViewModelAdmin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuestRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestRoom.Name" class="control-label"></label>
                <input asp-for="QuestRoom.Name" class="form-control" />
                <span asp-validation-for="QuestRoom.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Details" class="control-label"></label>
                <input asp-for="QuestRoom.Details" class="form-control" />
                <span asp-validation-for="QuestRoom.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.TimePassing" class="control-label"></label>
                <input asp-for="QuestRoom.TimePassing" class="form-control" />
                <span asp-validation-for="QuestRoom.TimePassing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MinCountPlayers" class="control-label"></label>
                <input asp-for="QuestRoom.MinCountPlayers" class="form-control" />
                <span asp-validation-for="QuestRoom.MinCountPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MaxCountPlayers" class="control-label"></label>
                <input asp-for="QuestRoom.MaxCountPlayers" class="form-control" />
                <span asp-validation-for="QuestRoom.MaxCountPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MinAgeOfPlayer" class="control-label"></label>
                <input asp-for="QuestRoom.MinAgeOfPlayer" class="form-control" />
                <span asp-validation-for="QuestRoom.MinAgeOfPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Addresse" class="control-label"></label>
                <input asp-for="QuestRoom.Addresse" class="form-control" />
                <span asp-validation-for="QuestRoom.Addresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Phone" class="control-label"></label>
                <input asp-for="QuestRoom.Phone" class="form-control" />
                <span asp-validation-for="QuestRoom.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Email" class="control-label"></label>
                <input asp-for="QuestRoom.Email" class="form-control" />
                <span asp-validation-for="QuestRoom.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.NameOfCompany" class="control-label"></label>
                <input asp-for="QuestRoom.NameOfCompany" class="form-control" />
                <span asp-validation-for="QuestRoom.NameOfCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Rating" class="control-label"></label>
                <input asp-for="QuestRoom.Rating" class="form-control" />
                <span asp-validation-for="QuestRoom.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.LevelOfFear" class="control-label"></label>
                <input asp-for="QuestRoom.LevelOfFear" class="form-control" />
                <span asp-validation-for="QuestRoom.LevelOfFear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.LevelOfComplexity" class="control-label"></label>
                <input asp-for="QuestRoom.LevelOfComplexity" class="form-control" />
                <span asp-validation-for="QuestRoom.LevelOfComplexity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logotype" class="control-label"></label>
                <input asp-for="Logotype" class="form-control" type="file" accept="image/*" name="logotype"/>
                <span asp-validation-for="Logotype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
